# Fișiere specifice sistemului de operare
*.swp
*~
.DS_Store

# Fișiere generate de PyCharm/IDE
.idea/
.venv/
venv/
__pycache__/
*.pyc

# Fișiere executabile și de build
*.exe
*.dll
dist/
build/
*.env

# Fișiere de baze de date și temporare
*.db
*.db-shm
*.db-wal
*.sqlite3
*.cache
*.json
conversation_logs/


# Foldere de backup (dacă nu vrei să le urmărești)
backup/